@media (min-width: 1000px) {
    .swiper {
        width: 100vw;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
      }
}