@use '../../app';

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 10rem;
}

.swiper-pagination {
    margin-bottom: -.5rem;
}

.caption {
    padding-bottom: 1rem;
    text-align: center;
    
    a {
        text-decoration: underline;
        color: app.$theme-text-color;
    }
}

p {
    color: app.$theme-text-color;
}

@media (min-width: 1000px) {
    .portfolio-container {
        display: flex;
        align-items: center;

        .gallery-container {
            position: absolute;
            width: 50%;
            right: 0;
        }
    
        .text-container {
            width: 49%;
            height: 80vh;
        }
    }
}

@media (max-width: 1000px) {
    .portfolio-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: absolute;
        top: -40vh;
    }

    .gallery-container {
        width: 80vw;
    }
}