@use '../../app.scss';

@media (min-width: 750px) {
    .about-me-container {
        display: flex;
        align-items: center;
        color: app.$theme-text-color;
    
        .text-container {
            width: 50%;
        }
    
        .headshot-container {
            padding-left: 3rem;
            width: 50%;
    
            img {
                width: 100%;
                border-radius: 100%;
            }
        }
    }
}

@media (max-width: 750px) {
    .about-me-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: app.$theme-text-color;
    
        .text-container {
            width: 90%;
        }
    
        .headshot-container {
            width: 50%;
    
            img {
                width: 100%;
                border-radius: 100%;
            }
        }
    }
}
