@use '../../app';

.bio-text-area {
    color: app.$theme-text-color;

    @media (min-width: 1000px) {
        margin-right: 40vw;
    }

    @media (max-width: 1000px) {
        margin-right: 10vw;
    }
}