@use '../../app';

.text-zone {
    @media (min-width: 442px) {
        left: 10vw;
    }

    @media (max-width: 442px) {
        left: 3vw;
    }

    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 80vw;
    max-height: 90vh;

    h1 {
        color: app.$theme-text-color;
        font-size: 4rem;
        font-family: Helvetica;

        .line {
            display: flex;
        }

        .word {
            flex-shrink: 0;
            margin-right: 1rem;
        }

        .letter {
            min-width: 10px;
            display: inline-block;
            animation-fill-mode: both;

            &:hover {
                animation: rubberBand 1s;
                color: app.$secondary-color;
            }
        }
    }

    h2 {
        color: app.$subtitle-color;
        margin-top: 20px;
        font-weight: 400;
        font-size: .75rem;
        font-family: sans-serif;
        letter-spacing: 3px;
    }
}

.index-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spline-container {
    position: absolute;
    width: 39vw;
    height: 90vh;
    right: 0;
    border-color: greenyellow;
    border-style: dashed;
}

@media (max-width: 1300px) {
    .disable-spline {
        display: none;
    }
}