@use '../../App.scss';

body {
    overflow-x: hidden;
}

.menu-icon {
    position: fixed; 
    display: flex;
    left: 1.2rem;
    top: 1.2rem; 
    line-height: .25rem; 
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: App.$secondary-color;
    z-index: 2;
}

.nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: App.$nav-color;
    transition: transform 300ms;
    width: 4.5rem;
    height: 100vh;
    z-index: 1;

    nav {
        height: 70%;
        margin-top: 4.4rem;
    }
    
    .menu-icon-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        a.active {
            color: App.$secondary-color;
        }

        .nav-icon {
            width: 50%;
            color: App.$theme-text-color;
    
            &:hover {
                color: App.$secondary-color;
            }
        }
    }

    .social-links {
        height: 30%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .social-link-icon-container {
            height: 1.5rem;
            width: 1.5rem;
            padding: .25rem;

            .social-link-icon {
                svg {
                    color: App.$theme-text-color;

                    &:hover {
                        color: App.$secondary-color;
                    }
                }
            }
        }
    }
}

.menu-inactive {
    transform: translateX(-100%);
}

.menu-active {
    transform: translateX(0%);
}